# Dependencias
node_modules/
client/node_modules/
server/node_modules/

# Variables de entorno (NUNCA subir al repo)
.env

# Vite / build
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/